---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;

const defaultLogoLight = `<svg width="1024" height="209" viewBox="0 0 1024 209" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M834.132 189.494V19.2296H876.698V38.453H882.877C885.395 31.5875 889.514 26.5528 895.235 23.3489C901.185 20.145 908.051 18.5431 915.832 18.5431H936.428V56.9898H915.145C904.16 56.9898 895.121 59.9648 888.026 65.9149C880.932 71.6361 877.385 80.5613 877.385 92.6903V189.494H834.132Z" fill="black"/>
<path d="M705.706 194.299C693.577 194.299 682.707 192.24 673.095 188.12C663.483 183.772 655.817 177.593 650.096 169.584C644.603 161.345 641.857 151.39 641.857 139.719C641.857 128.047 644.603 118.321 650.096 110.54C655.817 102.531 663.598 96.5806 673.438 92.6902C683.508 88.5709 694.95 86.5113 707.766 86.5113H754.451V76.8996C754.451 68.8899 751.934 62.3677 746.899 57.333C741.864 52.0694 733.855 49.4377 722.87 49.4377C712.114 49.4377 704.104 51.955 698.841 56.9897C693.577 61.7955 690.144 68.0889 688.542 75.8698L648.723 62.4821C651.469 53.7858 655.817 45.8905 661.767 38.7962C667.946 31.473 676.07 25.6373 686.14 21.2892C696.438 16.7122 708.91 14.4237 723.556 14.4237C745.984 14.4237 763.719 20.0305 776.764 31.2441C789.808 42.4578 796.33 58.7061 796.33 79.989V143.495C796.33 150.36 799.534 153.793 805.942 153.793H819.673V189.493H790.838C782.371 189.493 775.391 187.434 769.898 183.315C764.406 179.195 761.66 173.703 761.66 166.837V166.494H755.138C754.222 169.24 752.163 172.902 748.959 177.479C745.755 181.827 740.72 185.717 733.855 189.15C726.989 192.583 717.606 194.299 705.706 194.299ZM713.258 159.285C725.387 159.285 735.228 155.967 742.78 149.33C750.561 142.465 754.451 133.425 754.451 122.212V118.779H710.855C702.846 118.779 696.552 120.495 691.975 123.928C687.398 127.361 685.11 132.167 685.11 138.346C685.11 144.525 687.513 149.559 692.318 153.45C697.124 157.34 704.104 159.285 713.258 159.285Z" fill="black"/>
<path d="M548.851 194.299C532.374 194.299 517.385 190.867 503.882 184.001C490.609 177.136 480.082 167.181 472.301 154.136C464.52 141.092 460.63 125.301 460.63 106.764V101.959C460.63 83.4218 464.52 67.6312 472.301 54.5868C480.082 41.5424 490.609 31.5874 503.882 24.7219C517.385 17.8564 532.374 14.4237 548.851 14.4237C565.1 14.4237 579.059 17.2843 590.731 23.0056C602.402 28.7268 611.785 36.6221 618.879 46.6915C626.202 56.532 631.008 67.7456 633.297 80.3323L591.417 89.2574C590.502 82.392 588.442 76.213 585.238 70.7206C582.034 65.2283 577.457 60.8801 571.507 57.6763C565.786 54.4724 558.577 52.8704 549.881 52.8704C541.185 52.8704 533.29 54.8156 526.195 58.7061C519.33 62.3677 513.837 67.9745 509.718 75.5265C505.828 82.8497 503.882 91.8892 503.882 102.645V106.078C503.882 116.834 505.828 125.988 509.718 133.54C513.837 140.863 519.33 146.47 526.195 150.36C533.29 154.022 541.185 155.853 549.881 155.853C562.926 155.853 572.766 152.534 579.403 145.898C586.268 139.032 590.616 130.107 592.447 119.122L634.327 129.077C631.352 141.206 626.202 152.305 618.879 162.375C611.785 172.215 602.402 179.996 590.731 185.717C579.059 191.439 565.1 194.299 548.851 194.299Z" fill="black"/>
<path d="M376.729 194.299C354.531 194.299 336.337 189.493 322.149 179.882C307.96 170.27 299.378 156.539 296.403 138.689L336.223 128.391C337.825 136.4 340.457 142.694 344.118 147.271C348.009 151.848 352.7 155.166 358.192 157.226C363.914 159.056 370.093 159.972 376.729 159.972C386.799 159.972 394.236 158.256 399.042 154.823C403.848 151.161 406.251 146.699 406.251 141.435C406.251 136.172 403.962 132.167 399.385 129.421C394.808 126.445 387.485 124.043 377.416 122.212L367.804 120.495C355.904 118.207 345.034 115.117 335.193 111.227C325.353 107.108 317.457 101.501 311.507 94.4066C305.557 87.3122 302.582 78.1582 302.582 66.9446C302.582 50.0098 308.761 37.0798 321.119 28.1547C333.477 19.0007 349.725 14.4237 369.864 14.4237C388.858 14.4237 404.649 18.6574 417.236 27.1249C429.822 35.5923 438.061 46.6915 441.951 60.4224L401.788 72.7803C399.957 64.084 396.181 57.9051 390.46 54.2435C384.968 50.5819 378.102 48.7511 369.864 48.7511C361.625 48.7511 355.332 50.2386 350.984 53.2137C346.635 55.9599 344.461 59.8503 344.461 64.885C344.461 70.3774 346.75 74.4967 351.327 77.2429C355.904 79.7602 362.083 81.7054 369.864 83.0785L379.475 84.7949C392.291 87.0834 403.848 90.1728 414.146 94.0633C424.673 97.7249 432.912 103.103 438.862 110.197C445.041 117.063 448.13 126.445 448.13 138.346C448.13 156.196 441.608 170.041 428.564 179.882C415.748 189.493 398.47 194.299 376.729 194.299Z" fill="black"/>
<path d="M178.905 0C236.542 9.07124e-05 283.266 46.7244 283.267 104.361C283.267 161.998 236.542 208.723 178.905 208.723C147.003 208.723 118.445 194.407 99.3018 171.85C110.019 176.392 121.806 178.905 134.18 178.905C183.583 178.905 223.632 138.855 223.632 89.4521C223.632 47.4558 194.691 12.2194 155.665 2.59766C163.139 0.898004 170.917 2.58618e-05 178.905 0ZM89.4521 14.9092C118.091 14.9092 143.586 28.3685 159.958 49.3057C151.924 46.3447 143.24 44.7266 134.179 44.7266C93.0097 44.7269 59.6357 78.1014 59.6357 119.271C59.6359 153.031 82.079 181.549 112.859 190.72C105.399 192.737 97.5508 193.814 89.4521 193.814C40.0493 193.814 0.000129383 153.764 0 104.361C0.0001773 54.9585 40.0493 14.9095 89.4521 14.9092Z" fill="black"/>
<path d="M966.788 160.888C966.788 145.089 979.595 132.281 995.394 132.281C1011.19 132.281 1024 145.089 1024 160.888C1024 176.686 1011.19 189.494 995.394 189.494C979.595 189.494 966.788 176.686 966.788 160.888Z" fill="#D2BBFF"/>
</svg>`;

const defaultLogoDark = `<svg width="968" height="198" viewBox="0 0 968 198" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M788.336 179.09V18.1739H828.565V36.3418H834.405C836.784 29.8532 840.677 25.095 846.085 22.067C851.708 19.039 858.196 17.525 865.55 17.525H885.016V53.8609H864.901C854.52 53.8609 845.976 56.6726 839.272 62.296C832.567 67.7031 829.214 76.1382 829.214 87.6013V179.09H788.336Z" fill="#E5E1E4"/>
<path d="M666.961 183.632C655.498 183.632 645.225 181.685 636.141 177.792C627.057 173.683 619.811 167.843 614.404 160.273C609.213 152.487 606.618 143.078 606.618 132.048C606.618 121.017 609.213 111.825 614.404 104.472C619.811 96.9016 627.165 91.2781 636.465 87.6013C645.982 83.7082 656.796 81.7616 668.908 81.7616H713.03V72.6776C713.03 65.1077 710.651 58.9435 705.892 54.1853C701.134 49.2107 693.564 46.7234 683.183 46.7234C673.017 46.7234 665.447 49.1026 660.473 53.8609C655.498 58.4028 652.254 64.3507 650.74 71.7044L613.106 59.0517C615.702 50.8329 619.811 43.371 625.434 36.6662C631.274 29.7451 638.952 24.2298 648.469 20.1204C658.202 15.7947 669.989 13.6318 683.831 13.6318C705.027 13.6318 721.789 18.9308 734.118 29.5288C746.446 40.1268 752.61 55.483 752.61 75.5975V135.617C752.61 142.105 755.638 145.349 761.694 145.349H774.671V179.09H747.419C739.417 179.09 732.82 177.143 727.629 173.25C722.438 169.357 719.843 164.166 719.843 157.678V157.353H713.679C712.814 159.949 710.867 163.409 707.839 167.735C704.811 171.844 700.053 175.521 693.564 178.765C687.076 182.01 678.208 183.632 666.961 183.632ZM674.099 150.54C685.562 150.54 694.862 147.404 701.999 141.132C709.353 134.643 713.03 126.1 713.03 115.502V112.258H671.828C664.258 112.258 658.31 113.88 653.984 117.124C649.658 120.368 647.496 124.91 647.496 130.75C647.496 136.59 649.767 141.348 654.309 145.025C658.85 148.702 665.447 150.54 674.099 150.54Z" fill="#E5E1E4"/>
<path d="M518.718 183.632C503.145 183.632 488.979 180.388 476.218 173.899C463.673 167.41 453.724 158.002 446.371 145.674C439.017 133.346 435.34 118.422 435.34 100.903V96.3608C435.34 78.8418 439.017 63.9181 446.371 51.5899C453.724 39.2616 463.673 29.8532 476.218 23.3647C488.979 16.8761 503.145 13.6318 518.718 13.6318C534.074 13.6318 547.268 16.3354 558.298 21.7425C569.329 27.1497 578.196 34.6115 584.901 44.128C591.822 53.4283 596.364 64.0262 598.527 75.9219L558.947 84.357C558.082 77.8685 556.135 72.0288 553.107 66.8379C550.079 61.6471 545.754 57.5377 540.13 54.5097C534.723 51.4817 527.91 49.9677 519.691 49.9677C511.472 49.9677 504.011 51.8061 497.306 55.483C490.817 58.9436 485.626 64.2425 481.733 71.3799C478.056 78.3011 476.218 86.8443 476.218 97.0097V100.254C476.218 110.419 478.056 119.071 481.733 126.208C485.626 133.129 490.817 138.428 497.306 142.105C504.011 145.566 511.472 147.296 519.691 147.296C532.02 147.296 541.32 144.16 547.592 137.888C554.081 131.399 558.19 122.964 559.92 112.582L599.5 121.991C596.689 133.454 591.822 143.944 584.901 153.46C578.196 162.76 569.329 170.114 558.298 175.521C547.268 180.928 534.074 183.632 518.718 183.632Z" fill="#E5E1E4"/>
<path d="M356.046 183.632C335.066 183.632 317.871 179.09 304.462 170.006C291.052 160.922 282.941 147.945 280.13 131.075L317.763 121.342C319.277 128.912 321.764 134.86 325.225 139.185C328.902 143.511 333.336 146.647 338.527 148.594C343.934 150.324 349.773 151.189 356.046 151.189C365.562 151.189 372.591 149.567 377.133 146.323C381.675 142.862 383.946 138.645 383.946 133.67C383.946 128.695 381.784 124.91 377.458 122.315C373.132 119.503 366.211 117.232 356.695 115.502L347.611 113.88C336.364 111.717 326.09 108.797 316.79 105.12C307.49 101.227 300.028 95.9283 294.404 89.2234C288.781 82.5186 285.969 73.8672 285.969 63.2692C285.969 47.2641 291.809 35.0441 303.488 26.6089C315.168 17.9575 330.524 13.6318 349.557 13.6318C367.509 13.6318 382.432 17.6331 394.328 25.6357C406.224 33.6382 414.01 44.128 417.687 57.1051L379.729 68.7845C377.999 60.5657 374.43 54.726 369.023 51.2654C363.832 47.8049 357.343 46.0746 349.557 46.0746C341.771 46.0746 335.823 47.4804 331.714 50.2922C327.604 52.8876 325.549 56.5644 325.549 61.3227C325.549 66.5135 327.712 70.4066 332.038 73.0021C336.364 75.3812 342.203 77.2196 349.557 78.5173L358.641 80.1395C370.753 82.3023 381.675 85.2222 391.408 88.899C401.357 92.3596 409.144 97.4423 414.767 104.147C420.607 110.636 423.527 119.503 423.527 130.75C423.527 147.62 417.362 160.706 405.034 170.006C392.922 179.09 376.593 183.632 356.046 183.632Z" fill="#E5E1E4"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M169.083 0C223.556 1.64807e-05 267.715 44.1593 267.715 98.6318C267.715 153.104 223.556 197.263 169.083 197.263C138.932 197.263 111.942 183.733 93.8496 162.414C103.979 166.707 115.118 169.083 126.812 169.083C173.503 169.083 211.354 131.232 211.354 84.541C211.353 44.8506 184.002 11.5487 147.119 2.45508C154.182 0.848807 161.534 5.66244e-07 169.083 0ZM84.541 14.0908C111.607 14.0908 135.701 26.8107 151.175 46.5977C143.583 43.7996 135.376 42.2715 126.812 42.2715C87.9036 42.2716 56.3613 73.8137 56.3613 112.723C56.3616 144.629 77.5716 171.581 106.661 180.249C99.6106 182.155 92.1944 183.174 84.541 183.174C37.8505 183.174 0.000170105 145.322 0 98.6318C0.000164931 51.9413 37.8505 14.0911 84.541 14.0908Z" fill="#E5E1E4"/>
<path d="M913.709 152.054C913.709 137.123 925.813 125.019 940.744 125.019C955.676 125.019 967.78 137.123 967.78 152.054C967.78 166.986 955.676 179.09 940.744 179.09C925.813 179.09 913.709 166.986 913.709 152.054Z" fill="#D2BBFF"/>
</svg>`;
---

<div class:list={["logo-container", className]} data-default-light={defaultLogoLight} data-default-dark={defaultLogoDark}>
  <div class="logo-wrapper"></div>
</div>

<script>
  function getToken(): string | null {
    const stored = localStorage.getItem('oscar_auth');
    if (stored) {
      const { token } = JSON.parse(stored);
      if (token) return token;
    }
    const cookies = Object.fromEntries(
      document.cookie.split('; ').map(c => c.split('='))
    );
    return cookies['oscar_token'] || null;
  }

  function getCachedAsset(key: string): string | null {
    return sessionStorage.getItem('branding_' + key) || localStorage.getItem('oscar_branding_' + key);
  }

  function getAssetURL(objectKey: string): string {
    const cached = getCachedAsset(objectKey);
    if (cached) return cached;
    return `/api/upload/branding/asset?key=${encodeURIComponent(objectKey)}`;
  }

  function cacheAsset(key: string, data: string): void {
    sessionStorage.setItem('branding_' + key, data);
    localStorage.setItem('oscar_branding_' + key, data);
  }

  function isDarkMode(): boolean {
    return document.documentElement.classList.contains('dark') ||
           localStorage.getItem('theme') === 'dark' ||
           window.matchMedia('(prefers-color-scheme: dark)').matches;
  }

  async function loadLogo() {
    const containers = document.querySelectorAll('.logo-container');
    
    for (const container of containers) {
      const wrapper = container.querySelector('.logo-wrapper') as HTMLElement;
      if (!wrapper) continue;

      const darkMode = isDarkMode();
      const assetKey = darkMode ? 'logo_dark_key' : 'logo_light_key';
      const defaultSvg = darkMode 
        ? container.getAttribute('data-default-dark')
        : container.getAttribute('data-default-light');

      const customLogoKey = getCachedAsset(assetKey);
      
      if (customLogoKey) {
        try {
          const response = await fetch(getAssetURL(customLogoKey));
          if (response.ok) {
            const svgText = await response.text();
            wrapper.innerHTML = svgText;
            cacheAsset(assetKey + '_svg', svgText);
            const svg = wrapper.querySelector('svg');
            if (svg) {
              svg.setAttribute('class', 'h-6 w-auto');
            }
            continue;
          }
        } catch (e) {
          console.error('Failed to load custom logo, using default');
        }
      }

      if (defaultSvg) {
        wrapper.innerHTML = defaultSvg;
        const svg = wrapper.querySelector('svg');
        if (svg) {
          svg.setAttribute('class', 'h-6 w-auto');
        }
      }
    }
  }

  function observeThemeChanges() {
    const observer = new MutationObserver(() => {
      loadLogo();
    });
    
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['class']
    });

    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
      loadLogo();
    });
  }

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', () => {
      loadLogo();
      observeThemeChanges();
    });
  } else {
    loadLogo();
    observeThemeChanges();
  }

  window.addEventListener('storage', (e) => {
    if (e.key?.startsWith('oscar_branding_') || e.key?.startsWith('branding_')) {
      loadLogo();
    }
  });
</script>